html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* background: linear-gradient(to bottom right, #4e54c8, #8f94fb, #4e54c8);  */
  background: url('https://png.pngtree.com/thumb_back/fh260/background/20210529/pngtree-mild-pleasant-gradient-texture-background-image_721929.jpg');
  background-attachment: fixed;
  background-size: cover;

}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.registration-form {
 
  max-width: 600px;
  margin: 50px auto;
  margin-top: 200px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-form input,
.registration-form button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form button {
  padding: 10px;
  background-color: #4e54c8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.registration-form button:hover {
  background-color: #8f94fb;
}
